html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

.select-style {
    font-weight: bold;
    padding: 0;
    margin: 0;
    /* width: 120px; */
    border-radius: 3px;
    overflow: hidden;
    /* background-color: #fff; */
    background: url("../images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
	font: inherit;
    padding: 0px;
    width: 100%;
    color: inherit;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}
.hidebutton {
	background: url("../images/arrow-left.png") no-repeat 100% 50%;
    height: 23px;
    width: 30px;
    opacity: 0.5;
    position: absolute;
    bottom: 10px;
    left: 278px;
    z-index: 100000;
}
.snowmap {
	
}
.snowmapcontainer {
	
}

#twitter {
	margin-top: 50px;
}
#instagramgallery {
	margin: 6px;
}
#instagramgallery img {
	margin: 3px;
	margin-top: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .8);
}
#twitter div {
	background-color: white;
    color: black;
    padding: 10px;
    opacity: 0.5;
    font-size: 12px;
    margin: 6px;
    margin-top: 20px;
}
#twitter p {
	opacity: 0.5;
}
#twitter a,#twitter a:hover, #twitter a:visited  {
	color: black;
}

#varsom {
	float:left;
	position: relative;
    top: -22px;
}

#yr {
	position: relative;
    top: -22px;
    left: 10px;
	float:left;
}
#yr img{
	opacity:0.5;
}
#yr a{
    text-decoration: none;
    color:white;
}
#yr span {
	position: relative;
    top: 13px;
    left: -50px;
    font-weight: bold;
    opacity: 0.7;
    font-size: 12px;

}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}
h2 {
	margin:12px 0px 0px 0px;
	padding:0px;
	font-size: 1.2em;
}
.label  div {
	border: 0px;
    font-family: arial;
    font-weight: bold;
    color: black;
    padding: 5px;
    background: rgbA(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
    border-radius: 5px;
    margin-bottom: 40px;
    margin-right: 20px; 
}
.label {
	position: relative;
	left: -200px;
	top: -50px;
	width: 200px;
	height: 50px;
	transform-origin: 100% 100%;
	
}


.active {
	font-weight: bold;
}

.layer {
	padding: 2px;
	width: 100%;
	cursor: pointer;
	position: relative;
}
.layer .parameter {
	position:absolute;
	right:24px;
	top:0px;
}

#largegallery, #modalimage {
	width: 800px;
	height: 800px;
}

#largegallery a, #largegallery a:hover {
	color: #8A8C7E;
	text-decoration: none;
}


#slider  {
	margin: 0 0 20px;
	padding-left: 50px;
	padding-right: 50px;
}
#slider img {
	box-shadow: 0 20px 20px rgba(0, 0, 0, .3);
}
#slider figcaption {
	margin-top:20px;
}
#slider figure {
	height: 600px;
	width: auto;
}
#carousel {
	padding-left: 50px;
	padding-right: 50px;
}
#carousel .slides img {
	height: 60px;
	width: 100px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}


#carousel .slides figcaption {
	display:none
}

.smallgallery .flexslider .slides img {
	height: 63px;
}

.smallgallery {
	
	width: 50%;
	float:left;
}
.smallgallery .flexslider {
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 100px;
	background:transparent;
	border: transparent;
}

.smallgallery .flexslider .slides img {
	height: 63px;
}

.smallgallery .flexslider .slides li {
	height:65px;
	border:1px solid black;
}
.smallgallery .flex-direction-nav a:before{
	color:rgba(255, 255, 255, 0.8);
}
#pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 8px 8px 8px 36px;
        text-overflow: ellipsis;
        width: 272px;
      }

.menu {
    content: '';
    display: block;
    background-image: url(../images/menu.png);
    background-size: 48px 24px;
    background-position: 0 0;
    height: 24px;
    width: 24px;
    opacity: .62;
    position: absolute;
    cursor:pointer;
    top:8px;
    left: 20px;
}

#pac-input:focus {
border: 1 px solid #4d90fe;

}
.controlpanelContainer {
	z-index:1;
	position: absolute;
    top: 12px;
    left: 0;
}

@keyframes controlpanel-open {
    0%   {transform: translateX(-100%)}
    100% {transform: translateX(0%)}
}
@keyframes controlpanel-close {
    0%   {transform: translateX(0%)}
    100% {transform: translateX(-100%)}
}

.controlpanel.open {
	animation-name: controlpanel-open;
   animation-duration: 0.5s;
 
}
.controlpanel.close {
	animation-name: controlpanel-close;
   animation-duration: 0.5s;
   transform: translateX(-100%)
}

.controlpanel {
    background-color: rgbA(255,255, 255, 1);
    border: 2px solid #fff;
    padding-left: 10px;
    width: 300px;
    heigth: 100%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .3);
    position: absolute;
    top: 0px;
    left: 0;
    padding-top: 50px;
    height: 100%;
    z-index: 1;
}

.imagediv {
	float: left;
	position: relative;
}

@keyframes layer {
    0%   {opacity: 0}
    100% {opacity: 0.5}
}
.layerImg {
	position: absolute;
	top: 0px;
	right: 0px;
	opacity: 0.5;
	animation-name: layer;
    animation-duration: 2s;
}

#contentInfo {
        margin-left: 12px;
	background-color: #fff;
	border: 2px solid #fff;
	padding-left: 10px;
        margin-top: 12px;
        display:none;
	border-radius: '3px';
	box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    width: 40%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
  background-clip: padding-box;
}


.close-button {
  background-position: -14px -62px;
  height: 14px;
  width: 14px;
  float: right;
  margin: 10px 5px;
  background-size: 66px 100px;
  color: gray;
  cursor: pointer;
}
.largecontainer {
	margin-left: 12px;
	height: 100%;
}
.half .largecontainer {
	margin-left: 312px;
}
.graphcontainer figure {
 margin-top:20px;
}


.smallcontainer {
	height:110px;
}
.graphcontainer {
 width: 1024px;
 }
 .graphcontainer figure {
 margin-top:20px;
}


.chart {
float:left;
margin: 12px;
height: 362px;

}
.chart .imgcontainter {
	background:white;
	box-shadow: 0 10px 6px -6px #777;	
}
.chart .description {
	font-size: 10pt;
	
}
a {
	cursor:pointer;
	color:white;
	text-decoration: underline;
}

figcaption {
font-weight: bold;
}

.geolocation, .measurement {
	padding-right: 12px;
	padding-top: 12px;
	cursor: pointer;
}

.geolocation>img:hover, .measurement>img:hover {
	background: #cecece;
}
.geolocation >img, .measurement>img {
  background: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .8);
}


.controlpanelicon {
	cursor:pointer;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src:url('../fonts/codropsicons/codropsicons.eot');
    src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/codropsicons/codropsicons.woff') format('woff'),
        url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
        url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
    background: #fff;
    color: #8a8c7e;
    font-size: 100%;
    line-height: 1.25;
    font-family: 'Lato', 'Avenir Next', Arial, sans-serif;
}



@keyframes overlayfull {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes overlayhalf {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.overlaydummy {
	float: left;
}
.full .overlaydummy {
	width:0px;
}
.half .overlaydummy {
	width:300px;
}
.full .smallcontainer {
	animation-name: overlayfull;
    animation-duration: 2s;
}
.half .smallcontainer {
	animation-name: overlayhalf;
    animation-duration: 2s;
}

.snocontainer {
	max-width: 1200px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 112px;
    overflow: none;
    bottom: 0;
    left: 0;
    background: rgba(93,23,23,0.9);
    color: white;
    
}

@keyframes expanded {
    0%   {height: 112px;}
    100% {height: 100%;}
}

.overlay-expanded {
	height: 100%;
	animation-name: expanded;
    animation-duration: 0.5s;
}

@keyframes collapse {
    0%   {height: 100%;}
    100% {height: 112px;}
}

.overlay-collapse {
    animation-name: collapse;
    animation-duration: 0.5s;
}

/* Overlay closing cross */
.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    overflow: hidden;
    border: none;
    background: url(../images/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
    border-radius: 5px;
}

.overlay-more:hover, .overlay-close:hover, .overlay-less:hover {
	background-color: rgba(93,23,23,0.5);
	transition: background-color 0.5s;
	
}
.overlay-less{
	height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 80px;
    overflow: hidden;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 5px;
    background: transparent;
    text-decoration: underline;
    /* text-indent: 200%; */
    color: white;
    outline: none;
    z-index: 100;
}
.overlay-more {
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 80px;
    overflow: hidden;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 5px;
    background: transparent;
    text-decoration: underline;
    /* text-indent: 200%; */
    color: white;
    outline: none;
    z-index: 100;
    
}


/* Effects */
html, body {
    overflow-x: hidden;
}


.overlay-contentpush {
	box-shadow: 0px -3px 6px rgba(0,0,0,0.15);
    border-top: 2px solid rgba(94,39,80,0.9);
    background: rgba(94,39,80,0.9);
    visibility: hidden;
    backface-visibility: hidden;
    transform: translateY(100%);
    transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentpush.open {
    visibility: visible;
    transform: translateY(0%);
    transition: transform 0.5s;
}

.position {
	font-size: 8pt;
}

#zoomcontainer {
	position:absolute;	
	top: 0px;
	left: 0px;
	color: white;
}

.zoom-close {
	opacity: 0.3;
    transform: translateX(-1000px);
    transition: all 0.5s;
}


.snodesc {
	font-size: 12px;
	margin-left: 12px;
	clear: both;
}

.links {
	 padding-top: 30px; 
}

.smallsnocontainer {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  background-color: white;
  color: black;
  padding: 10px;
  opacity: 0.5;
  font-size: 12px;
}

h3 {
    margin-top: 10px;
    margin-left: 10px;
    
}
@media only screen and (max-height: 1024px) {
	#largegallery, #modalimage {
	  height: 800px;
	}
}

@media only screen and (max-height: 800px) {
	.overlay-expanded {
	   height: 100%;
	   overflow: auto !important;
	}
	#largegallery, #modalimage {
	  height: 400px;
	}
	#slider figure {
	  width:auto;
	  height: 300px;
	}
	#carousel {
	  display:none;
	}
}
@media only screen and (max-height: 400px) {
	#largegallery, #modalimage {
	  height: 300px;
	}
	#slider figure {
	  height: 150px;
	}
}


.overlay-expanded {
       overflow: auto !important;
}

@media only screen and (max-width: 1000px) {
	.smallgallery {
	 display:none;
  }
}

@media only screen and (max-width: 1600px) {
  .half .smallgallery {
	 display:none;
  }
}

@media only screen and (max-width: 900px) {
.overlay-expanded {
	overflow: auto !important;
	height: 100%;
}
.overlay.half {
 	display:none;
 }
.half .smallsnocontainer {
   visibility: hidden;
}
 
.snocontainer {
 width:100%;
 
}
.graphcontainer {
 width: 100%;
 }
.graphcontainer .chart{
	 width: 90%;
}
#largegallery, #modalimage {
	width:90%;
}

.chart {
float:left;
width:100%;
height:auto;
}
h2 {
	width: 70%;
}
	
}
@media only screen and (max-width: 600px) {
 .smallsnocontainer {
   visibility: hidden;
 }
 #largegallery, #modalimage {
	  width:90%;
 }
 
}

