html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.active {
	font-weight: bold;
}

.layer {
	padding: 2px;
	cursor: pointer;
}

.controlpanel {
	margin: 10px;
	background-color: #fff;
	border: 2px solid #fff;
	padding-left: 10px;
	width: 200px;
	border-radius: '3px';
	box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}

.imagediv {
	float: left;
	position: relative;
}

.layerImg {
	position: absolute;
	top: 0px;
	right: 0px;
	opacity: 0.5;
}