html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.active {
	font-weight: bold;
}

.layer {
	padding: 2px;
	cursor: pointer;
}

.controlpanel {
	margin: 12px;
	background-color: #fff;
	border: 2px solid #fff;
	padding-left: 10px;
	width: 200px;
	border-radius: '3px';
	box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}

.imagediv {
	float: left;
	position: relative;
}

@keyframes layer {
    0%   {opacity: 0}
    100% {opacity: 0.5}
}
.layerImg {
	position: absolute;
	top: 0px;
	right: 0px;
	opacity: 0.5;
	animation-name: layer;
    animation-duration: 4s;
}

#contentInfo {
        margin-left: 12px;
	background-color: #fff;
	border: 2px solid #fff;
	padding-left: 10px;
        margin-top: 12px;
        display:none;
	border-radius: '3px';
	box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    width: 40%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
  background-clip: padding-box;
}

#pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-top: 12px;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

#pac-input:focus {
border: 1 px solid #4d90fe;

}

.close-button {
  background-position: -14px -62px;
  height: 14px;
  width: 14px;
  float: right;
  margin: 10px 5px;
  background-size: 66px 176px;
  color: gray;
  cursor: pointer;
}
.snocontainer {
 float:left;
 width:850px;
 
}
.graphcontainer {
 float:left;
 width: 800px;
}
.graphcontainer .chart{
	 width: 700px;
	 height: 300px;
}


.chart {
float:left;
width:400px;
height: 300px;
 margin: 10px;

}
.chart .imgcontainter {
	background:white;
	box-shadow: 0 10px 6px -6px #777;	
}
.chart .description {
	font-size: 10pt;
	
}
a{
	cursor:pointer;
	color:white;
	text-decoration: underline;
}

figcaption {
font-weight: bold;
}

.geolocation {
	background: white;
	margin-right: 12px;
	cursor: pointer;
}

.controlpanel {
	display:none;
}
.controlpanelicon {
	cursor:pointer;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src:url('../fonts/codropsicons/codropsicons.eot');
    src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/codropsicons/codropsicons.woff') format('woff'),
        url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
        url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
    background: #fff;
    color: #8a8c7e;
    font-size: 100%;
    line-height: 1.25;
    font-family: 'Lato', 'Avenir Next', Arial, sans-serif;
}

.codrops-header {
    margin: 0 auto;
    padding: 2em 0 0;
    text-align: center;
}

.codrops-header h1 {
    margin: 0;
    font-weight: 300;
    font-size: 2.5em;
}

.codrops-header h1 span {
    display: block;
    padding: 0 0 0.6em 0.1em;
    font-size: 0.6em;
    opacity: 0.7;
}

/* To Navigation Style */
.codrops-top {
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.69em;
    line-height: 2.2;
    background: #fff;
}

.codrops-top a {
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    display: block;
    float: left;
}

.codrops-icon:before {
    margin: 0 4px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
    content: "\e001";
}

.codrops-icon-prev:before {
    content: "\e004";
}

.codrops-demos {
    margin: 30px auto 0;
    padding: 30px 0;
}

.codrops-demos a,
section button {
    display: inline-block;
    background: #a9a9a9;
    color: #fff;
    font-weight: 400;
    padding: 10px 20px;
    margin: 5px;
    text-transform: uppercase;
    border-radius: 2px;
    letter-spacing: 1px;
}

.codrops-demos a:hover,
.codrops-demos a:active,
.codrops-demos a.current-demo {
    background: #777;
}

section {
    padding: 1em 2em 5em;
    text-align: center;
    font-size: 1.5em;
}

section p {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
}

section button {
    border: none;
    padding: 15px 30px;
    outline: none;
    background: #85b91e;
}

.related > a {
    border: 1px solid #99cc33;
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    padding: 25px;
    color: #99cc33;
    opacity: 0.8;
    -webkit-transition: color 0.3s, border-color 0.3s;
    transition: color 0.3s, border-color 0.3s;
    -webkit-backface-visibility: hidden;
}

.related a:hover {
    border-color: #82b222;
    color: #82b222;
}

.related a img {
    max-width: 100%;
}

.related a h3 {
    margin: 0;
    padding: 0.5em 0 0.3em;
    max-width: 300px;
    text-align: left;
    font-size: 65%;
    font-weight: 400;
}
/* Overlay style */
.overlay {
    position: fixed;
    width: 100%;
    height: 750px;
    overflow: auto;
    top: 0;
    left: 0;
    background: rgba(153,204,51,0.9);
    color: white;
    
}

/* Overlay closing cross */
.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../images/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}


/* Effects */
html, body {
    overflow-x: hidden;
}

.container {
    overflow-x: hidden;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s; 
}

.container.overlay-open {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.container.overlay-open::after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay-contentpush {
    -background: rgba(56, 4, 4, 1);
    background: rgba(153,204,51,0.9);
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
    transition: transform 0.5s, visibility 0s 0.5s;
    box-shadow: 0 10px 6px -6px #777;
}

.overlay-contentpush.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

#zoomcontainer {
	position:absolute;	
	top: 0px;
	left: 0px;
	color: white;
}

.zoom-close {
	opacity: 0.3;
    transform: translateX(-1000px);
    transition: all 0.5s;
}

.snodesc {
	font-size: 12px;
	margin-left: 12px;
}

.links {
	 padding-top: 30px; 
}

@media only screen and (max-width: 800px) {
.snocontainer {
 width:100%;
 
}
.graphcontainer {
 width: 100%;
 }
.graphcontainer .chart{
	 width: 90%;
}


.chart {
float:left;
width:100%;

}
h2 {
	width: 70%;
}
	
}